{% load static %}

<div class="untree_co-section" id="about-section">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
        <img
          src="{% static 'img/Milton.webp' %}"
          alt="Equipo de Aura Odontologia en consultorio odontológico"
          class="img-fluid img-shadow"
          style="border-radius: 28px;"
        >
      </div>

      <div class="col-lg-5">
        <div class="mb-4" data-aos="fade-up" data-aos-delay="0">
          <span class="caption">Sobre nosotros</span>
          <h2 class="heading">Aura Odontologia</h2>
        </div>

        <div class="mb-4" data-aos="fade-up" data-aos-delay="100">
          <p>
            Somos Milton Ivan Alessandrello y Lucia D'Altri, integrantes de Aura Odontologia. Nuestro objetivo es brindar una atención integral y personalizada.
          </p>

          <p>
            Acompañamos a pacientes de distintas edades con un enfoque basado en la prevención, el diagnóstico y un tratamiento adecuado para cada caso.
          </p>

          <p>
            En nuestro consultorio combinamos formación, experiencia y una mirada humana del cuidado bucal.
          </p>

          <p>
            Nuestro compromiso es ofrecer una atención cercana, responsable y de calidad, en un espacio de confianza donde cada paciente reciba el cuidado que necesita.
          </p>
        </div>

        <div class="row count-numbers">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="0">
            <span class="counter d-block">
              <span data-number="8">0</span><span>+</span>
            </span>
            <span class="caption-2">Años de trayectoria</span>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <span class="counter d-block">
              <span data-number="465">0</span><span>+</span>
            </span>
            <span class="caption-2">Pacientes acompañados</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
