{% load static %}
<!doctype html>
<html lang="es">
<head>
  {% include "myapp/partials/head_meta.html" %}
  {% include "myapp/partials/tracking_head.html" %}

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

  <link rel="icon" type="image/png" href="{% static 'img/logo-pc.png' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>{% block title %}Od. Alessandrello{% endblock %}</title>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

  {% include "myapp/partials/tracking_body.html" %}

  <div class="lines-wrap">
    <div class="lines-inner">
      <div class="lines"></div>
    </div>
  </div>

  {% include "myapp/partials/alert_form_ok.html" %}

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  {% include "myapp/partials/navbar.html" %}

  {% block content %}{% endblock %}

  {% include "myapp/partials/footer.html" %}
  {% include "myapp/partials/whatsapp_btn.html" %}
  {% include "myapp/partials/scripts.html" %}
</body>
</html>
